<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-crypto-tracker.ZPM">
    <Module>
      <Name>iris-crypto-tracker</Name>
      <Version>1.1.0</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>sslclient</Name>
          <Version>1.0.1</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>iris/src</SourcesRoot>
      <Resource Name="Ens.Config.DefaultSettings.ESD"/>
      <Resource Name="TestLookupTable.LUT"/>
      <Resource Name="Crypto.PKG"/>
      <Resource Name="Crypto.CLS"/>
      <SourcesRoot>iris/src</SourcesRoot>
      <FileCopy Name="lib/" Target="${libdir}jgw/lib/"/>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
    </Module>
  </Document>
</Export>