<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-crypto-tracker.ZPM">
    <Module>
      <Name>iris-crypto-tracker</Name>
      <Version>1.1.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>iris</SourcesRoot>
      <Resource Name="src.Crypto.PKG"/>
      <FileCopy Name="/java/src/lib/" Target="/jgw/"/>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
    </Module>
  </Document>
</Export>